body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  max-width: 1000px;
}
.main {
  margin-top: 40px;
}
.main > hr {
  margin: 30px 0;
}

.new-profiling h3 {
  margin: 0;
}

.pr-overview td.pr-depth-1:before { content: "\2043"; padding: 0 0.5em 0 1em }
.pr-overview td.pr-depth-2:before { content: "\2043"; padding: 0 0.5em 0 2em }
.pr-overview td.pr-depth-3:before { content: "\2043"; padding: 0 0.5em 0 3em }
.pr-overview td.pr-depth-4:before { content: "\2043"; padding: 0 0.5em 0 4em }
.pr-overview td.pr-depth-5:before { content: "\2043"; padding: 0 0.5em 0 5em }
.pr-overview td.pr-depth-6:before { content: "\2043"; padding: 0 0.5em 0 6em }
.pr-overview td.pr-depth-7:before { content: "\2043"; padding: 0 0.5em 0 7em }
.pr-overview td {
  max-width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pr-sql-timings th {
  white-space: nowrap;
}
.pr-sql-timings pre {
  font-size: 12px;
}

.stats details summary {
  font-size: 12px;
  color: #999;
  cursor: pointer;
  outline: none;
}

/* We do not need profiler results for the report, as it might be confusing */
.profiler-results {
  display: none;
}

